body, html{
  height:100%;
}
body{
  margin: 0px;
  /* background-color:#444; */
  background-image: url('https://compote.slate.com/images/c86656e3-2cb5-45ec-8002-353605348484.gif?width=1200&rect=1560x1040&offset=0x0');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: white;
}

.title, .addDancerButton{
  float:right;
  padding:.25em 1em;
  background-color: red;
  color:white;
  text-decoration: none;
}
.addDancerButton{
  border-radius: .5em;
  margin:0 .5em 0 .5em;
}
.addDancerButton:hover{
  background-color: rgb(121, 0, 0);
  border: 2px solid white;
}
.addDancerButton:active{
  background-color: rgb(170, 49, 49);
  border-color:rgb(204, 204, 204);
}
.topbar{
  height:38;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.dancer:hover{
  transform: scale(1.3);
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#dance-floor {
  height:100vh;
  width: 100vw;
  overflow: hidden;
}


@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes mymove {
  0%   { border-color: red;}
  25%  { border-color: blue;}
  50%  {border-color: yellow;}
  75%  {border-color: green;}
  100% {border-color: red;}
}

.candy-dancer {
  border-color: transparent !important;
}
.candy-dancer > img {
  width: 5rem;
  height: 5rem;
}